<template id="footer" type="text/html">
  <footer class="footer">
    <div class="top clearfix">
      <ul>
        <li class="first">
          <a href="./about_us.html" data-json="@{data}" data-i18n="item1.name">关于我们</a>
        </li>
        <li>
          <a href="./about_us.html" class="{{(selectMenu == 'about_us') ? 'on':''}}" data-i18n="item1.menu[0]">认识埃西尔</a>
        </li>
        <li>
          <a href="./company_news.html" class="{{(selectMenu == 'elegant_demeanour') ? 'on':''}}" data-i18n="item1.menu[1]">埃西尔人风采</a>
        </li>
        <li>
          <a href="./business.html" class="{{(selectMenu == 'business') ? 'on':''}}" data-i18n="item1.menu[2]">业务分布</a>
        </li>
        <li>
          <a href="./honor.html" class="{{(selectMenu == 'honor') ? 'on':''}}" data-i18n="item1.menu[3]">荣誉资质</a>
        </li>
        <!-- <li>
          <a href="./public_welfare.html" class="{{(selectMenu == 'public_welfare') ? 'on':''}}" data-i18n="item1.menu[4]">公益之路</a>
        </li> -->
      </ul>
      <ul>
        <li class="first">
          <a href="./product_center.html" data-i18n="item2.name">产品中心</a>
        </li>
        <li>
          <a href="./product_center.html" class="{{(selectMenu == 'product_center') ? 'on':''}}" data-i18n="item2.menu[0]">自动化设备</a>
        </li>
        <li>
          <a href="./equipment.html" class="{{(selectMenu == 'equipment') ? 'on':''}}" data-i18n="item2.menu[1]">贴片设备</a>
        </li>
        <li>
          <a href="./accessories.html" class="{{(selectMenu == 'accessories') ? 'on':''}}" data-i18n="item2.menu[2]">部品配件</a>
        </li>
      </ul>
      <ul>
        <li class="first">
          <a href="./service_center.html" data-i18n="item3.name">服务中心</a>
        </li>
        <li>
          <a href="./service_center.html" class="{{(selectMenu == 'service_center') ? 'on':''}}" data-i18n="item3.menu[0]">技术人员服务</a>
        </li>
        <li>
          <a href="./intelligent_manufacturing.html" class="{{(selectMenu == 'intelligent_manufacturing') ? 'on':''}}" data-i18n="item3.menu[1]">智能嵌入式工厂</a>
        </li>
        <li>
          <a href="./development.html" class="{{(selectMenu == 'development') ? 'on':''}}" data-i18n="item3.menu[2]">软件定制服务</a>
        </li>
        <li>
          <a href="./lease.html" class="{{(selectMenu == 'lease') ? 'on':''}}" data-i18n="item3.menu[3]">设备租赁服务</a>
        </li>
      </ul>
      <ul class="rl">
        <li class="first">
          <a href="./company_news.html" class="{{(selectMenu == 'company_news') ? 'on':''}}" data-i18n="item4.name">公司新闻</a>
        </li>
        <li class="first">
          <a href="./contact_us.html" class="{{(selectMenu == 'contact_us') ? 'on':''}}" data-i18n="item5.name">联系我们</a>
        </li>
        <li class="first">
          <a href="./join_us.html" class="{{(selectMenu == 'join_us') ? 'on':''}}" data-i18n="item6.name">加入我们</a>
        </li>
      </ul>
    </div>
    <div class="bottom">
      <ul>
        <li data-i18n="info[0]">深圳市埃西尔电子有限公司</li>
        <li data-i18n="info[1]">地址：深圳市宝安区石岩街道环宇达工业区十栋</li>
        <li data-i18n="info[2]">邮编：518108</li>
        <li data-i18n="info[3]">电话：0755—2783 1645  27831685</li>
        <li data-i18n="info[4]">传真：0755—27831701</li>
      </ul>
    </div>
  </footer>
</template>